.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }

.social-button-size {
	width:200px;
}

.facebook,.twitter { width:200px; }

.facebook-color { 
	background-color:#3b5998; 
	background-image: none;
}

.google-color {
	background-color:#d34836; 
	background-image: none;
}

.instagram-color {
	background-color:#517fa4; 
	background-image: none;
}

.linkedin-color {
	background-color:#007bb6; 
	background-image: none;
}

.foursquare-color {
	background-color:#0072b1; 
	background-image: none;
}

.youtube-color {
	background-color:#bb0000; 
	background-image: none;
}

.twitter { background-color:#3399FF; }
.facebook:hover,.twitter:hover { color:#fff; }

.account-wall {
	position: absolute;
	top : 20%;
	left : 35%;
	height : 253px;
	width : 400px;
    padding: 30px 0px 40px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

    