.search-results-container {
	background-color: white;
	width: 400px;
	position: absolute;
	left: 35%;
	top: 14%;
	padding: 10px;
	border-radius: 5px;
}

.single-user-result {
	border-bottom: solid F8F8F8;
	padding: 5px;
	min-height: 50px;
}

.left {
	float: left;
}

.right {
	padding-left: 53px;
}

.search-bar {
	width: 200px;
}
