.feed-photo {
	height: 498px;
	width: 498px;
}

.profile-photo {
	height: 50px;
	width: 50px;
}

.feeds-container {
	background-color: #D8D8D8;
	width: 540px;
	position: absolute;
	left: 35%;
	top: 14%;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

.profile-container {
	background-color: #D8D8D8;
	width: 150px;
	position: absolute;
	left: 20%;
	top: 14%;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

.widget-container {
	position: absolute;
	left: 21%;
	top: 55%;
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; }
.ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { 
	width: 137px; 
	height: 24px; 
	background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; 
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { 
	background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); 
	background-size: 160px 178px; 
} 