.facebook-search-results-container {
	background-color: white;
	width: 400px;
	position: absolute;
	left: 35%;
	top: 20%;
	padding: 10px;
	border-radius: 5px;
}

.profile-facebook-widget {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	left: 35%;
	top: 10%;
	width: 410px;
}

.search-facebook-widget {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	left: 35%;
	top: 14%;
	width: 410px;
}